/* Reglas
Selectores
Declaraciones
Propiedades 
Valores
*/



/* selector de etiqueta header- section - article - nav */
    /* header {
       background: rgb(163, 163, 197);
    } */

/* selector descendente */
    /* body header div nav ol li a {} */

/* selector por clase . hay que definir la clase en el html */
    /* .link {color: red} */

/* selector por id # */
/*     #portafolio {} */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.portada{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    f/* ont-style: italic; */
}

h1{
    font-size: 45px;
    line-height: 1.5;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    height: 300px;
    color: white;
    margin: 0;
    padding: 25px;
    /* margin: top right bottom left aqui agregamos las cantidades de los margenes o margin: 10px 10px donde el primer valor
    corresponde a top y bottom y los otros valores a left y right */
}

.project-details{
    width: 500px;
}

.portfolio{
    background: #c1c1c1;
}



.project{
/*     tamaño / tipo / estilo */
    /* border-top: 15px solid blueviolet;
    border-right: 15px solid red;
    border-left: 15px solid greenyellow;
    border-bottom: 15px solid black; */
    /* Esto sería lo mismo que border-top con sus caracteristicas
    border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */
    border: 1px solid gray;
    border-radius: 5px;
/*  border-top-left-radius: 10px;
    border-top-right-radius: 15px; */
    margin: 10px;
    margin-top: 15px;
/*  margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */
    padding: 15px;
    background: white;
/*  box-sizing: border-box Delimita el modelo de caja */
    display: flex;
}

.project-imageContainer{
    width: 500px;
}

.experience-details{
    border: 1px solid gray;
    border-radius: 5px;
}

.header{
    background-color: #233347;
    color: white;
    display : flex ;
    justify-content: space-between;
    height: 150px;
    display: flex;
    padding: 20px;
    align-items: center;
}

.menu {/* menu hereda de .header */
    height: inherit;
}

.hero{
    background-color: #233347;
    background-image: url('../images/ramon.jpg');
    background-size: 400px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    align-items: center;
}

.header ol{/* header ol hereda de menu */
    display: flex;
    height: inherit;
}

.header ol li {/* header ol li hereda de header ol */
    height: inherit;
}

.header a{/* header a hereda de .header ol li */
    color:white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

h1 strong{
    color: yellowgreen;
}

.curriculum{
    display: flex;
}

.curriculum-details{
    width: 500px;
}

/* .flexbox{
    display: flex;
/*     flex-direction: column; */
    /* flex-wrap: wrap;
    flex-direction: column;
    justify-content: center ; /* horizontal */
    /* align-content: center; */  /* vertical */
    /* flex-direction: column; */
/*} */

/* .box{
    width: 50px;
    height: 50px;
    border: 3px solid red;

    flex-shrink: 0;
    margin: 5px;
} */

.footer{
    background-color: #233347 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
    text-decoration: none;
}

.contact {
    background-color: #33DAFC;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
}

.social-link {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
  }

.social-link.facebook{
    background-image: url('../images/facebook.svg');
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
}

.social-link.github{
    background-image: url('../images/github.svg');
}

.contact h3{
    font-size: 30px;
    margin:0;
    
}

.contact-suscription-email{
    border-radius: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 8px 0px 8px 35px;
    background-image: url('../images/envelope.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position-y: center;
    background-position-x: 5px;
}

.contact-button{
    display: block;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color: white;
    background-color: #33DAFC;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}