/* Reglas
Selectores
Declaraciones
Propiedades 
Valores
*/



/* selector de etiqueta header- section - article - nav */
    /* header {
       background: rgb(163, 163, 197);
    } */

/* selector descendente */
    /* body header div nav ol li a {} */

/* selector por clase . hay que definir la clase en el html */
    /* .link {color: red} */

/* selector por id # */
/*     #portafolio {} */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3k1hfc');
    src:  url('../fonts/icomoon.eot?3k1hfc#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3k1hfc') format('truetype'),
      url('../fonts/icomoon.woff?3k1hfc') format('woff'),
      url('../fonts/icomoon.svg?3k1hfc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-facebook:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.portada{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    f/* ont-style: italic; */
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    height: 300px;
    color: white;
    margin: 0;
    /* padding: 25px; */
    /* margin: top right bottom left aqui agregamos las cantidades de los margenes o margin: 10px 10px donde el primer valor
    corresponde a top y bottom y los otros valores a left y right */
}

.project-details{
    width: 50%;
    margin: 0 20px;
}

.project-imageContainer{
    width: 50%;
}

.project-imageContainer img{
    max-width: 100%;
}

.portfolio{
    background: #c1c1c1;
}

.project{
/*     tamaño / tipo / estilo */
    /* border-top: 15px solid blueviolet;
    border-right: 15px solid red;
    border-left: 15px solid greenyellow;
    border-bottom: 15px solid black; */
    /* Esto sería lo mismo que border-top con sus caracteristicas
    border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */
    border: 1px solid gray;
    border-radius: 5px;
/*  border-top-left-radius: 10px;
    border-top-right-radius: 15px; */
    margin: 10px;
    margin-top: 15px;
/*  margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */
    padding: 15px;
    background: white;
/*  box-sizing: border-box Delimita el modelo de caja */
    display: flex;
}

.experience-details{
    border: 1px solid gray;
    border-radius: 5px;
}

.header{
    background-color: #233347;
    color: white;
    display : flex ;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.menu {/* menu hereda de .header */
    height: inherit;
}

.hero{
    height: 300;
    background-color: #233347;
    /* background-image: url('../images/ramon.jpg'); */
    /* background-size: 400px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-heroContainer{
    margin:0
}

.hero-image{
    object-fit: cover;
    margin: 0;
}

.header ol{/* header ol hereda de menu */
    display: flex;
    height: inherit;
}

.header ol li {/* header ol li hereda de header ol */
    height: inherit;
}

.header a{/* header a hereda de .header ol li */
    color:white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

h1 strong{
    color: #9acd32;
}

.experience{
    background-color: #c1c1c1;
    display: flex;
    flex-wrap: wrap;
}

.experience-title{
    background-color: #c1c1c1;
    font-size: 30px;
    color: rgb(197, 0, 92);
    padding: 20px;
    margin: 0em;
}

.curriculum{
    margin: 1% 1%;
    border: 1px solid gray;
    background-color: rgb(137, 167, 212);
    flex-shrink: 0;
    width: 47%;
    border-radius: 10px;
    overflow: hidden;
}

.curriculum-imageContainer{
    margin: 0px;
}

.curriculum-details{
    margin: -60px 20px 20px 20px;
    padding: 28px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    position: relative;
}

.curriculum img{
    width: 480px;
    height: 350px;
    object-fit: cover;
}

.curriculum-description{
    text-align: left;
}

.curriculum-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

/* .flexbox{
    display: flex;
/*     flex-direction: column; */
    /* flex-wrap: wrap;
    flex-direction: column;
    justify-content: center ; /* horizontal */
    /* align-content: center; */  /* vertical */
    /* flex-direction: column; */
/*} */

/* .box{
    width: 50px;
    height: 50px;
    border: 3px solid red;

    flex-shrink: 0;
    margin: 5px;
} */

.footer{
    background-color: #233347 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
    text-decoration: none;
}

.contact {
    background-color: #33DAFC;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
  }
  
  
  .icon-facebook, .icon-github, .icon-instagram, .icon-twitter{
      color: #FFF;
      font-size: 60px;
  }

.social-link.facebook, .social-link.twitter, .social-link.github, .social-link.instagram{
     text-decoration: none;
}

/* .social-link.facebook{
    background-image: url('../images/facebook.svg');
} */

/* .social-link.twitter{
    background-image: url('../images/twitter.svg');
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
}

.social-link.github{
    background-image: url('../images/github.svg');
} */

.contact h3{
    font-size: 30px;
    margin:0;
    
}

.contact-suscription-email{
    border-radius: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 8px 0px 8px 35px;
    background-image: url('../images/envelope.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position-y: center;
    background-position-x: 5px;
}

.contact-button{
    display: block;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color: white;
    background-color: #33DAFC;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
/*     border: 1px solid red; */
    max-width: 1000px;
/*     width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}


.portfolio-title{
    color: rgb(197, 0, 92);
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    height: 50px;
    text-align: center;
}

.container-h2{
    margin-top: -10px;
    padding-left: 20px;
    background-color: #c1c1c1;
    text-align: center;
}

.html-video{
    width: 100%;
    height: auto;
/*     max-width: 100%; */
}

.video-youtube{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.flexible-video{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-color: blue;
    position: relative;
    margin-top: -10px;
}

.burguer-menu{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    color: white;
    z-index: 4;
}

/* FIRST DESKTOP */

@media screen and (max-width:1024px){
    .container{
        padding: 0 15px;
    }

    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .image-hero{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    h1{
        font-size: 2em;
        z-index: 2;
    }
}

@media screen and (max-width:767px){
    .burguer-menu{
        display: block;
    }

    .header{
        display: block;
        height: auto;
    }

    .header ol{
        display: block;
    }

    .header ol li{
        height: 30px;
        margin-bottom: 1em;
    }

    .header a{
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .menu{
        background-color: rgba(153, 205, 50, 0.8);
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vw; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-active{
        left: 0;
    }

    .link{
        justify-content: center;
    }

    .header figure{
        text-align: center;
    }

    .project-imageContainer{
        width: auto;
        text-align: center;
    }

    .project{
        display: block;
    }
 
    .portfolio-project{
        font-size: 16px;
    }

    .project-details{
        width: auto;
        margin: 0px 20px;
    }

    .project-title{
        font-size: 1.1em;
        margin: 0.5em 0px;
    }

    .project-course{
        font-size: .6em;
        margin: 1em 0px;
    }

    .project-date{
        font-size: .8em;
        margin: .8em 0;
    }

    .project-url{
        font-size: .8em;
        margin: .7em 0;
    }

    .project-description{
        font-size: .9em;
        margin: .8em 0;
    }

    .portfolio-title{
        font-size: 30px; 
    }

    .curriculum{
        width: auto;
        flex-shrink: initial;
    }

    .curriculum img{
        width: 100%;
    }

}


@media screen and (max-width:480px){
    h1{
        font-size: 1.5em;
    }

    .portfolio-title{
        font-size: 25px;
        margin-bottom: 30px; 
    }

    .project-title{
        font-size: 1.1em;
        margin: 0.4em 0px;
    }

    .project-course{
        font-size: .6em;
        margin: .7em 0px;
    }

    .project-date{
        font-size: .8em;
        margin: .6em 0;
    }

    .project-url{
        font-size: .8em;
        margin: .6em 0;
    }

    .project-description{
        font-size: .9em;
        margin: .6em 0;
    }

    .curriculum-details{
        padding: 1.4em;
        margin: -3.5em 1em 1em;
    }

    .contact{
        display: block;
        text-align: center;
        padding: 1em 0;
        height: auto;
    }

    .contact-button{
        margin: 1em auto;
    }

    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
        padding-top: 1em;
    }

    .curso-tomado{
        padding-bottom: 1em;
    }
}

@media screen and (max-width:320px){
    h1{
        font-size: 1em;
    }

    .hero{
        padding: 2em 1em;
    }
}